.tableholder {
  display: flex;
}

table,
td {
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px;
}

td {
  background-color: white;
  margin-right: 2px;
}

table {
  background-color: aliceblue;
  width: 40%;
}

thead {
  background-color: aliceblue;
}

.costCell {
  width: 20%;
}

.cell {
  text-align: center;
}

.deleteBtnHolder {
  background-color: aliceblue;
  border: none;
  text-align: center;
  width: 33%;
}

.deleteBtn {
  background-color: #009ea3;
  border: 1px solid #364156;
  border-radius: 5px;
  color: #eef0eb;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  height: 2.05em;
}

.checkOutBtn {
  border: 1px solid #364156;
  border-radius: 5px;
  color: #eef0eb;
  font-size: 0.8em;
  font-weight: 600;
  height: 2.4em;
  margin-left: 100px;
  margin-top: 11px;
  width: 92px;
}

.buttonDisabled {
  background-color: #8292B0;
}

.buttonEnabled {
  background-color: #009ea3;
  cursor: pointer;
}